---
title: Ein einfaches HTML5 Dokument
---

{{#markdown}}
```html
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>HTML5 Basis</title>
    </head>
    <body>
    </body>
<html>
```
#### Aufgaben
- Finde heraus, was ein DOCTYPE ist, und was es noch für andere DOCTYPE gibt.
- Finde heraus, was charset="utf-8" bedeutet.

#### Ziel
- Du kannst ein HTML5 Dokument erstellen, ohne nachzuschlagen.

{{/markdown}}