---
title: CSS position absolute
---
{{#markdown}}

#### Aufgabe
- Erstelle folgendes Beispiel in deinem HTML Dokument:
- Wenn du die rote Box nicht genau in der Mitte positionieren kannst, dann lies folgendes genau durch: http://docs.webplatform.org/wiki/css/properties/margin
{{/markdown}}

<div class="task-basic-6">
    <div>Ich bin statisch</div>
    <div class="absolute-1">position: absolute</div>
    <div class="absolute-2">position: absolute</div>
    <div class="centered">Ich bin in der Mitte</div>
</div>