---
title: CSS position relative
---
{{#markdown}}

#### Aufgabe
- Erstelle folgendes Beispiel in deinem HTML Dokument:

{{/markdown}}

<div class="task-basic-5">
    <div>Ich bin statisch</div>
    <div class="relative">position: relative</div>
</div>