---
title: CSS position fixed
---
{{#markdown}}

#### Aufgabe
- Erstelle folgendes Beispiel in deinem HTML Dokument:
{{/markdown}}

<div class="task-basic-7">
    <div>Ich bin statisch</div>
    <div class="fixed-1">position: fixed</div>
    <div class="fixed-2">position: fixed</div>
    <div class="fixed-3">position: fixed</div>
</div>