---
title: Web Fonts
---
<link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
{{#markdown}}

Mit @font-face können Schriften in eine Website eingebunden werden.
{{/markdown}}
<p style="font-family: 'Freckle Face', cursive;">Leider muss die Schrift in verschiedenen Formaten eingebunden werden, damit alle Browser das verstehen.</p>

{{#markdown}}

#### Aufgabe
- Binde in deinem HTML5 Dokument eine Schrift mit @font-face so ein, dass alle Browser Text in dieser Schrift darstellen können.

#### Resourcen
- http://www.fontsquirrel.com/tools/webfont-generator
- http://www.google.com/fonts

{{/markdown}}