---
title: CSS Transitions
---
{{#markdown}}

Mit CSS3 Transitions können wir den Übergang von einem Style zu einem anderen animieren.

#### Aufgaben
- Baue dieses Element in deinem Dokument nach: (mit der Maus drüberfahren)

<div id="task-css3-6"></div>

#### Resourcen
- http://css-tricks.com/almanac/properties/t/transition/

{{/markdown}}