---
title: CSS 2D Transform
---
{{#markdown}}

Es gibt 4 2D-transform Methoden. Diese sind gut unterstützt von allen gängigen Browser. Ausser IE8.


#### Aufgaben
- Baue diese Elemente in deinem Dokument nach:

{{/markdown}}
<div class="task-css3-7">
    <section>
        <h5>translate</h5>
        <div class="transforms-original">Original</div>
        <div class="transforms-transformed" style="transform: translate(20px,20px); -webkit-transform:translate(20px,20px);">Transformed</div>
    </section>
    <section>
        <h5>rotate</h5>
        <div class="transforms-original">Original</div>
        <div class="transforms-transformed" style="transform: rotate(37deg); -webkit-transform: rotate(37deg)">Transformed</div>
    </section>
    <section>
        <h5>scale</h5>
        <div class="transforms-original">Original</div>
        <div class="transforms-transformed" style="transform: scale(2,2); -webkit-transform: scale(2,2);">Transformed</div>
    </section>
    <section>
        <h5>skew</h5>
        <div class="transforms-original">Original</div>
        <div class="transforms-transformed" style="transform: skew(30deg,20deg); -webkit-transform: skew(30deg,20deg)">Transformed</div>
    </section>
</div>
{{#markdown}}

#### Resourcen
- http://css-tricks.com/almanac/properties/t/transform/

{{/markdown}}