---
title: CSS Animationen
---
{{#markdown}}

Animationen sind sehr ähnlich zu Transitions. Es können aber mit @keyframes Abläufe definiert werden.

#### Aufgaben
- Baue diese Elemente in deinem Dokument nach: (mit der Maus drüberfahren)

{{/markdown}}

<div class="task-css3-animations">
    <div id="animation1"></div>
    <div id="animation2"></div>
    <div id="animation3">rotate forever</div>
</div>

{{#markdown}}
#### Resourcen
- http://css-tricks.com/almanac/properties/a/animation/

{{/markdown}}