---
title: CSS Media Queries
---
{{#markdown}}

Mit CSS Media Queries können CSS Regeln definiert werden, die nur für bestimmte Ausgabegeräte gelten.
Ab IE9 und in allen anderen Browsern ist dieses Feature implementiert.

#### Resourcen
- https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Media_queries
- http://css-tricks.com/css-media-queries/
- http://cssmediaqueries.com/

#### Aufgabe
- Bau dieses Beispiel nach: (Fenster verkleinern und vergrössern)

{{/markdown}}

<div id="task-media-queries-1"></div>